name: Tests

on: [pull_request, push]

permissions:
  contents: read

jobs:
  recomp_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12.5
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.5"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest
    - name: Download decompiler
      uses: robinraju/release-downloader@v1
      with:
        repository: 'ValveResourceFormat/ValveResourceFormat'
        tag: '10.1'
        fileName: 'Decompiler-linux-x64.zip'
        zipBall: true
        extract: true
        token: ${{ secrets.GH_TOKEN }}
    - name: Run test
      run: |
        export PYTHONPATH=$(pwd)
        chmod +x ./Decompiler
        pytest
